<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>N2P(Nothing To Prove)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <%- include('partials/header') %>
        <link rel="stylesheet" href="styles/home.css">
        <!-- <link rel="stylesheet" href="stles/media-queries.css"> -->
</head>

<body>

    <%- include('partials/navbar') %>
        <main class="container">
            <section class="hero">
                <div class="parent">
                    <div class="pro-controls">
                        <h3>Black Tee's</h3>
                        <p>$10,000</p>
                        <h3>Quantity</h3>
                        <br>
                        <div>
                            <button class="btn"><i class="fa-solid fa-minus"></i></button>
                            <span class="pro-num">1</span>
                            <button class="btn"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                    <section>
                        <% for( let i=1; i < 2; i++ ) { %>
                            <div class="cols-cont">
                                <div class="img-here">
                                    <img src="/images/col (<%= i %>).png" alt="image">
                                </div>
                            </div>
                            <% } %>
                    </section>
                    <div class="pro-cta">
                        <h3>Size:</h3>
                        <button class="btn btn-nobg">Extra Lage</button>
                        <button class="btn btn-nobg">Lage</button>
                        <button class="btn btn-nobg">Medium</button>
                        <button class="btn btn-nobg">Small</button> <br>
                        <button class="btn btn-nobg atc"><a href="/cart">Add to cart</a></button>
                        <!-- <button class="btn">BUY NOW</button> -->
                    </div>
                </div>
                <section class="about">
                    <h2>Related Products</h2>
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <% for( let i=1; i < 8; i++ ) { %>
                                <div class="swiper-slide">
                                    <div class="img-here">
                                        <img src="/images/col (<%= i %>).png" alt="image">
                                    </div>
                                    <div class="cols-text pro row">
                                        <div>
                                            <h1>product name</h1>
                                            <h2>$ 10,000</h2>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </section>
            </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <%- include('partials/footer') %>
            <script src="/scripts/common.js"></script>
            <script src="/scripts/product.js"></script>
</body>

</html>